*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/

#Exclude all .conf custom for sites-available
nginx/sites-available/*.conf   

#Except for
!nginx/sites-available/codeigniter-php-app.com.conf
!nginx/sites-available/php-app.conf

#Exclude Folders
projects/*
projects/codeigniter-php-app/*

#Exclude Folders Except
!projects/php-app
!projects/codeigniter-php-app

.DS_Store